.Task {
  position: fixed;
  height: 100vh;
  width: 200px;
  background: #484848;
  // background: #3e3c40;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;

  a {
    height: 150px;
    width: 100%;

    color: #fff;

    .link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 1s ease;

      h4 {
        margin: 5px 0;
        font-weight: 400;
      }

      &:hover {
        background: lighten(#8c8c8c, 2%);
      }

      .logo {
        height: 80px;
        width: 80px;
        background: url(./logo.svg) no-repeat center center / contain;
      }
    }

    .homeLink {
      background: #222222;
      // background: #353535;

      &:hover {
        background: darken(#222222, 5%);
      }
    }

    .activeLink {
      background: #8c8c8c;
    }
  }
}

// .link {
//   height: 150px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   transition: 1s ease;
//   flex-direction: column;

//   &:hover {
//     background: lighten(#8c8c8c, 2%);
//   }
// }

// .activeLink {
//   background: #8c8c8c;
// }
