.Task {
  position: fixed;
  height: 100vh;
  // CHANGE DISCOVER WHEN CHANGING WIDTH
  width: 200px;
  background: #484848;
  // background: #3e3c40;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  z-index: 10;

  a {
    height: 150px;
    width: 100%;
    color: #fff;

    .link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 1s ease;

      h4 {
        margin: 5px 0;
        font-weight: 400;
      }

      &:hover {
        background: lighten(#8c8c8c, 2%);
      }

      .logo {
        height: 80px;
        width: 80px;
        background: url(./logo.svg) no-repeat center center / contain;
      }
    }

    .homeLink {
      background: #222222;
      // background: #353535;

      &:hover {
        background: darken(#222222, 5%);
      }
    }

    .activeLink {
      background: #8c8c8c;
    }
  }
}

@media screen and (max-width: 1192px) {
}

// @media screen and (max-width: 992px) {
//   .SinglePageTask {
//     width: 100vw;
//     height: 10vh;
//     bottom: 0;
//     left: 0;
//     flex-direction: row;

//     a {
//       background: #222222;
//       height: 100%;

//       .link {
//         h4 {
//           font-size: 12px;
//         }

//         .logo {
//           height: 45px;
//           width: 35px;
//         }
//       }
//     }
//   }

//   .fa-2x {
//     font-size: 1.6em;
//   }
// }
@media screen and (max-width: 768px) {
  .Task {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
    flex-direction: row;

    a {
      background: #222222;
      height: 100%;

      .link {
        h4 {
          font-size: 12px;
        }

        .logo {
          height: 45px;
          width: 35px;
        }
      }
    }
  }

  .fa-2x {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 600px) {
  .Task {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
    flex-direction: row;

    a {
      background: #222222;

      .link {
        h4 {
          font-size: 12px;
        }

        .logo {
          height: 45px;
          width: 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .Task {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
    flex-direction: row;

    a {
      background: #222222;

      .link {
        h4 {
          font-size: 10px;
        }

        .logo {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
  .fa-2x {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 400px) {
  .Task {
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
    flex-direction: row;

    a {
      background: #222222;
      height: 100%;

      .link {
        h4 {
          font-size: 8px;
        }

        .logo {
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  .fa-2x {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Task {
    width: 100vw;
    height: 18vh;
    bottom: 0;
    left: 0;
    flex-direction: row;

    a {
      background: #222222;
      height: 100%;

      .link {
        h4 {
          font-size: 10px;
        }

        .logo {
          height: 26px;
          width: 26px;
        }
      }
    }
  }

  .fa-2x {
    font-size: 1.1em;
  }
}
