.Landing {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/bg.jpg) no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
  }

  .options {
    display: flex;
    color: #fff;

    h3 {
      font-weight: 400;
      border: 1px solid red;
      margin: 1vh 1vw;
      cursor: pointer;
      animation: option 1s ease;

      &:nth-child(2) {
        border: 1px solid green;
        animation: option 1.2s ease;
      }
    }

    input[type="text"] {
      animation: search 1s ease;
      text-align: center;
      padding: 0.5vh 3vw;
    }
  }

  .firstOptions {
    h3 {
      animation: firstOption 1s ease;

      &:nth-child(2) {
        border: 1px solid green;
        animation: firstOption 1.2s ease;
      }
    }
  }
  .notActive {
    display: none;
  }
}

@keyframes firstOption {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes option {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-4vh);
    opacity: 0.3;
  }
  50% {
    transform: translateY(15vh);
    opacity: 0.1;
  }
  75% {
    transform: translateY(15vh);
    opacity: 0;
  }
}

@keyframes search {
  0% {
    transform: translateY(15vh);
    opacity: 0.1;
  }

  50% {
    transform: translateY(0vh);
    opacity: 0.6;
  }
}
