.Actor {
  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
      border: 1px solid #333;
      margin: 5vh 1vw 2vh;
      padding: 1vh 2vw;
    }
  }
}
