.Single {
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-end;

  .SingleContainer {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
  }
}
